body {
    background-color: #a4e2ff;
}


.bar {
    position: absolute;
    width: 30px;
    height: 300px;
}



#leftBar > img {
    width:100%;
    height:100%;
    object-fit: fill;
}



#rightBar > img {
    width:100%;
    height:100%;
    object-fit: fill;
}


.winOrLose {
    position: absolute;
    display: none;
}